{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block head_title %}
{{object}}
{% endblock head_title %}

{% block content %}
<div class="px-5">

    {% if object.img %}
    <div class="text-end">
        <img src="{{object.img.url}}"
            width="150"
            alt="">
    </div>
    {% endif %}
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-5"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical">
            <a title="personal"
                class="mb-lg-3  text-decoration-none text-dark text-end active"
                id="v-pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-home"
                type="button"
                role="tab"
                aria-controls="v-pills-home"
                aria-selected="true"><span
                    class="material-symbols-outlined fs-1">
                    person
                </span>
            </a>
            <a title="travel"
                class="mb-lg-3 text-decoration-none text-dark text-end"
                id="v-pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-profile"
                type="button"
                role="tab"
                aria-controls="v-pills-profile"
                aria-selected="false"><span
                    class="material-symbols-outlined fs-1">
                    flight
                </span></a>
            <a title="permits"
                class="mb-lg-3  text-decoration-none text-dark text-end"
                id="v-pills-permits-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-permits"
                type="button"
                role="tab"
                aria-controls="v-pills-permits"
                aria-selected="false"><span
                    class="material-symbols-outlined fs-1">
                    file_copy
                </span></a>
            <a title="payments"
                class="mb-lg-3  text-decoration-none text-dark text-end"
                id="v-pills-payments-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-payments"
                type="button"
                role="tab"
                aria-controls="v-pills-payments"
                aria-selected="false"><span
                    class="material-symbols-outlined fs-1">
                    payments
                </span></a>
        </div>
        <div class="col-lg-10 px-5">
            <div class="tab-content"
                id="v-pills-tabContent">
                <div class="tab-pane fade show active"
                    id="v-pills-home"
                    role="tabpanel"
                    aria-labelledby="v-pills-home-tab"
                    tabindex="0">
                    <h1>Personal Details</h1>
                    <hr>
                    <div class="text-end">
                        <a title="Add remarks" class="text-decoration-none text-dark"
                            href="#"><span
                                class="material-symbols-outlined fs-1">
                                add_comment
                            </span></a>
                        <a title="Add payment" class="text-decoration-none text-dark mx-lg-2"
                            href="#"><span
                                class="material-symbols-outlined fs-1">
                                attach_money
                            </span></a>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><span class="text-muted">Surname:
                                </span><span>{{object.surname}}</span></p>
                        </div>
                        <div class="col">
                            <p><span class="text-muted">Christian names:
                                </span><span>{{object.christian_names}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><span class="text-muted">Place of birth:
                                </span><span>{{object.pob}}</span></p>
                        </div>
                        <div class="col-lg-3">
                            <p><span class="text-muted">Date of birth:
                                </span><span>{{object.dob}}</span></p>
                        </div>
                        <div class="col-lg-3">
                            <p><span class="text-muted">Nationality:
                                </span><span>{{object.nationality}}</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><span class="text-muted">Passport number:
                                </span><span><a data-bs-toggle="modal"
                                        data-bs-target="#exampleModal{{object.ppn}}"
                                        href="#">{{object.ppn}}</a></span></p>
                        </div>
                        <div class="col-lg-3">
                            <p><span class="text-muted">Place issued:
                                </span><span>{{object.pp_issue_place}}</span>
                            </p>
                        </div>
                        <div class="col-lg-3">
                            <p><span class="text-muted">Date issued:
                                </span><span>{{object.pp_issue_date}}</span>
                            </p>
                        </div>
                        <div class="col-lg-3">
                            <p><span class="text-muted">Expiry Date:
                                </span><span>{{object.pp_exp}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade"
                    id="v-pills-profile"
                    role="tabpanel"
                    aria-labelledby="v-pills-profile-tab"
                    tabindex="0">
                    <h1>Travel Details</h1>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><span class="text-muted">Arrival date:
                                </span><span>{{object.arrival_date}}</span></p>
                        </div>
                        <div class="col-lg-3">
                            <p><span class="text-muted">Arrival port:
                                </span><span>{{object.arrival_place}}</span>
                            </p>
                        </div>
                        <div class="col-lg-3">
                            <p><span class="text-muted">Arrival from:
                                </span><span>{{object.arrived_from}}</span></p>
                        </div>
                        <div class="col-lg-3">
                            <p><span class="text-muted">Arrival via:
                                </span><span>{{object.arrived_via}}</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><span class="text-muted">Host:
                                </span><span><a data-bs-toggle="modal"
                                        data-bs-target="#exampleModal{{object.host_id_no}}"
                                        href="#">{{object.host_id_no}}</a></span>
                            </p>
                        </div>

                        {% if object.hotel_res %}
                        <div class="col-lg-3">
                            <p><span class="text-muted">Reservations:
                                </span><span><a data-bs-toggle="modal"
                                        data-bs-target="#exampleModal{{object.pk}}"
                                        href="#">Reservations</a></span>
                            </p>
                        </div>
                        {% endif %}
                        <div class="col-lg-3">
                            <p><span class="text-muted">Ticket number:
                                </span><span><a data-bs-toggle="modal"
                                        data-bs-target="#exampleModal{{object.ticket_no}}"
                                        href="#">{{object.ticket_no}}</a></span>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="v-pills-messages"
                        role="tabpanel"
                        aria-labelledby="v-pills-messages-tab"
                        tabindex="0">...</div>
                    <div class="tab-pane fade"
                        id="v-pills-settings"
                        role="tabpanel"
                        aria-labelledby="v-pills-settings-tab"
                        tabindex="0">...</div>
                </div>
                <div class="tab-pane fade"
                    id="v-pills-permits"
                    role="tabpanel"
                    aria-labelledby="v-pills-permits-tab"
                    tabindex="0">
                    <h1>Subsequent Permits</h1>
                    <hr>
                    <div class="text-end">
                        <a title="Add permit"
                            class="text-decoration-none text-dark"
                            href="#"><span
                                class="material-symbols-outlined fs-1">
                                note_add
                            </span></a>
                    </div>
                    <hr>
                    <div class="table responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Expires</th>
                                    <th scope="col">Created</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ob in object.subsequent_permits.all %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{ob.time_granted_to}}</td>
                                    <td>{{ob.created_at}}</td>
                                    <td><a href="#"><span
                                                class="material-symbols-outlined">
                                                info
                                            </span></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="tab-pane fade"
                    id="v-pills-payments"
                    role="tabpanel"
                    aria-labelledby="v-pills-payments-tab"
                    tabindex="0">
                    <h1>Payments</h1>
                    <hr>
                    <div>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Expires</th>
                                    <th scope="col">Created</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ob in object.subsequent_permits.all %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{ob.time_granted_to}}</td>
                                    <td>{{ob.created_at}}</td>
                                    <td><a href="#"><span
                                                class="material-symbols-outlined">
                                                info
                                            </span></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal 1 -->
    <div class="modal fade"
        id="exampleModal{{object.host_id_no}}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        id="exampleModalLabel">{{object.host_id_no}}</h1>
                    <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% if object.host_id %}
                    <div class="d-flex justify-content-center">
                        <img src="{{object.host_id.url}}"
                            width="500"
                            alt="">
                    </div>
                    {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade"
        id="exampleModal{{object.pk}}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        id="exampleModalLabel">Reservations</h1>
                    <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% if object.img %}
                    <div class="d-flex justify-content-center">
                        <img src="{{object.hotel_res.url}}"
                            width="500"
                            alt="">

                    </div>
                    {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3 -->
    <div class="modal fade"
        id="exampleModal{{object.ppn}}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        id="exampleModalLabel">{{object.ppn}}</h1>
                    <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% if object.img %}
                    <div class="d-flex justify-content-center">
                        <img class="me-lg-2"
                            src="{{object.passport.url}}"
                            width="500"
                            alt="">
                        <img src="{{object.img.url}}"
                            width="500"
                            alt="">
                    </div>
                    {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 4 -->
    <div class="modal fade"
        id="exampleModal{{object.ticket_no}}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        id="exampleModalLabel">{{object.ticket_no}}</h1>
                    <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if object.ticket %}
                    <div class="d-flex justify-content-center">
                        <img class="me-lg-2"
                            src="{{object.ticket.url}}"
                            width="500"
                            alt="">
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}