{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block head_title %}
{{object}}
{% endblock head_title %}

{% block content %}
<div class="px-lg-5">
    {% if object.img %}
    <div class="text-end mb-3">
        <img class="border border-dark rounded-4"
            src="{{object.img.url}}"
            width="150"
            alt="">
    </div>
    {% endif %}
    <main class="mb-5">
        <div class="d-flex">
            <div class="col-lg-1 m-0 p-0"
                style="position:fixed; top:50; left:2%; height:fit-content;">
                <a href="#person-info"><span
                        class="material-symbols-outlined fs-1 text-dark">
                        person
                    </span></a><br><br>
                <a href="#flight-info"><span
                        class="material-symbols-outlined fs-1 text-dark">
                        flight
                    </span></a><br><br>
                <a href="#enquiry-info"><span
                        class="material-symbols-outlined fs-1 text-dark">
                        task
                    </span></a><br><br>
                <a href="#payment-info"><span
                        class="material-symbols-outlined fs-1 text-dark">
                        payment
                    </span></a><br><br>
                <a href="{% url 'subsequent-permit-create' object.id %}"><span
                        class="material-symbols-outlined fs-1 text-dark">
                        add_task
                    </span></a><br><br>
            </div>
            <div style="margin-left: 5rem;"
                class="col border rounded-4 border-dark">
                <section id="peronal-info">
                    <div class="p-5">
                        <h2>Perosnal Information</h2>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.surname}}</span><br>
                                <span class="text-muted">Surname:</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.christian_names}}
                                </span><br>
                                <span class="text-muted">Christian
                                    names:</span>

                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.marital_status}}
                                </span><br>
                                <span class="text-muted">Marital status</span>

                            </div>
                            <div class="col">
                                <span class="fw-bolder"> {{object.pob}}
                                </span><br>
                                <span class="text-muted">Place of birth</span>

                            </div>
                            <div class="col">
                                <div class="col">
                                    <span class="fw-bolder"> {{object.dob}}
                                    </span><br>

                                    <span class="text-muted">Date of birth
                                </div>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.nationality}}
                                </span><br>
                                <span class="text-muted">Nationality</span>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-4">
                                <span class="fw-bolder">
                                    {{object.foreign_address}}
                                    {% if foreign_address1 %} ,
                                    {{foreign_address1}} {% endif %}
                                </span><br>
                                <span class="text-muted">Foreign
                                    address:</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder"> {{object.phone}}
                                </span><br>
                                <span class="text-muted">Phone</span>

                            </div>
                            <div class="col">
                                <span class="fw-bolder"> {{object.email}}
                                </span><br>
                                <span class="text-muted">email</span>

                            </div>
                            <div class="col">
                                <span class="fw-bolder"> {{object.occu}}
                                </span><br>
                                <span class="text-muted">Occupation</span>

                            </div>
                            <div class="col">
                                <span class="fw-bolder"> <a class="text-dark"
                                        data-bs-toggle="modal"
                                        data-bs-target="#passportModal"
                                        href="#">{{object.ppn|upper}}</a>
                                </span><br>
                                <span class="text-muted">Passport
                                    number</span>
                            </div>
                        </div>
                        <!-- Passport Modal -->
                        <div class="modal fade"
                            id="passportModal"
                            tabindex="-1"
                            aria-labelledby="passportModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5"
                                            id="passportModalLabel">
                                            Passport
                                            number:
                                            {{object.ppn|upper}}</h1>
                                        <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% if object.passport %}
                                        <div class="text-center">
                                            <img class="border my-3"
                                                src="{{object.passport.url}}"
                                                style="width: fit-content;"
                                                alt="">
                                        </div>
                                        <hr>
                                        {% endif %}
                                        <p class="text-center"><span
                                                class="text-muted">i:</span>
                                            {{object.pp_issue_place}},
                                            {{object.pp_issue_date}},
                                            <span class="text-muted">e:</span>
                                            {{object.pp_exp}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="flight-info">
                    <div class=" p-5 mt-lg-3">
                        <h2>Flight Information</h2>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.arrival_date}},
                                    {{object.arrival_place}}
                                </span><br>
                                <span class="text-muted">Arrival</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.arrived_from}}
                                </span><br>
                                <span class="text-muted">From</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder"> {{object.arrived_via}}
                                </span><br>
                                <span class="text-muted">Via</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder"> {{object.pov}},
                                </span><br>
                                <span class="text-muted">Purpose of
                                    visit</span>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <span class="fw-bolder">
                                    <a class="text-dark"
                                        href="#">{{object.host_id_no|upper|default:'N/A'}}</a>
                                </span><br>
                                <span class="text-muted">Host ID</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.hotel_res|default:'N/A'}}
                                </span><br>
                                <span class="text-muted">Reservations</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.rental_agreement|default:'N/A'}}
                                </span><br>
                                <span class="text-muted">Rental
                                    Agreement</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.work_permit|default:'N/A'}}
                                </span><br>
                                <span class="text-muted">Work permit</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.exemption|default:'N/A'}}
                                </span><br>
                                <span class="text-muted">Exemption</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="enquiry-info">
                    <div class=" p-5 mt-3">
                        <h2>Enquiries</h2>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.time_granted_from}}
                                    to {{object.time_granted_to}}
                                </span><br>
                                <span class="text-muted">From and to</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.time_granted}} days
                                </span><br>
                                <span class="text-muted">Time granted</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.tempt_res|yesno:"Yes,No,maybe" }}
                                </span><br>
                                <span class="text-muted">Temp resident</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.tempt_res|yesno:"Yes,No,maybe" }}
                                </span><br>
                                <span class="text-muted">Permanent
                                    resident</span>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.address_in_st_lucia}}
                                </span><br>
                                <span class="text-muted">Address in Saint
                                    Lucia</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.tel_in_st_lucia}}
                                </span><br>
                                <span class="text-muted">Tel</span>
                            </div>
                            <div class="col">
                                <span class="fw-bolder">
                                    {{object.means_of_support}}
                                </span><br>
                                <span class="text-muted">Means of
                                    support</span>
                            </div>
                            <div class="col"
                                id="ticket">
                                <span class="fw-bolder">
                                    <a class="text-dark"
                                        href="#ticket">{{object.ticket_no|upper}}</a>
                                </span><br>
                                <span class="text-muted">Ticket</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <hr>
                            <div class="col text-end small">
                                <span class="fw-bolder">
                                    {{object.imm_offr.email|default:'N/A'}}
                                </span><br>
                                <span class="text-muted">Immigration
                                    officer</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </main>
</div>




{% endblock content %}