{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
Form
{% endblock head_title %}


{% block content %}
<div class="container">
    <h1>Form</h1>
    <hr>
    <div class="col-lg-6 mx-auto p-5 m-5 rounded-4 shadow">
        <form action=""
            method="post"
            enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <my-5 class="my-5 d-grid">
                <button class="btn btn-lg btn-outline-dark rounded"
                    type="submit">Submit</button>
            </my-5>
        </form>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#id_time_granted_from, #id_time_granted").on("change", function () {
            var startDate = new Date($("#id_time_granted_from").val());
            var numberOfDays = parseInt($("#id_time_granted").val());

            if (!isNaN(startDate.getTime()) && !isNaN(numberOfDays)) {
                var endDate = new Date(startDate);
                endDate.setDate(startDate.getDate() + numberOfDays);

                var endYear = endDate.getFullYear();
                var endMonth = (endDate.getMonth() + 1).toString().padStart(2, '0');
                var endDay = endDate.getDate().toString().padStart(2, '0');

                var formattedEndDate = `${endYear}-${endMonth}-${endDay}`;
                $("#id_time_granted_to").val(formattedEndDate);
            }
        });
    });
</script>
{% endblock scripts %}