{% if request.user.is_authenticated %}
<header class="p-3 mb-3 border-bottom text-bg-dark sticky-top">
    <div class="container">
        <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul
                class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/"
                        class="text-white text-decoration-none fs-5 px-2">Enquiries</a></li>
                 
                <!-- <li><a href="#"
            class="nav-link px-2 link-body-emphasis">Ministry</a></li> -->
            </ul>
            <div class="dropdown text-end">
                <a href="#"
                    class="text-white fw-bolder d-block text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">

                <span>{{ request.user.profile|upper }}</span>
                </a>
                <ul class="dropdown-menu text-small">
                    {% if request.user.is_authenticated %}
                    <li><a class="dropdown-item"
                            href="#">Profile</a>
                    </li>
                    <li><a class="dropdown-item"
                            href="{% url 'account_logout' %}">Sign out</a></li>
                    {% else %}
                    <li><a class="dropdown-item"
                            href="{% url 'account_login' %}">Sign in</a></li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</header>
{% endif %}